<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Breakout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7360CC651BDDB8F9008539A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7360CC791BDDB8FA008539A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7360CC841BDDB8FA008539A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
